# INTEGRACIÓN (pruebas) - estos ya vienen en el SDK
WEBPAY_COMMERCE_CODE=597055555532
WEBPAY_API_KEY=579B532A7440BB0C9079DED94D31EA1615BACEB56610332264630D42D0A36B1C
NODE_ENV=integration

# PRODUCCIÓN (cuando Transbank te los entregue tras la validación)
# WEBPAY_COMMERCE_CODE=TU_CODIGO_REAL
# WEBPAY_API_KEY=TU_LLAVE_SECRETA_REAL
# NODE_ENV=production
